.title {
  font-family: "Arial", Times, serif;
  color: #1864AB;
  font-size: 3.2rem;

  position: absolute;
  top: 10mm;
  left: 150mm;
  height: 56mm;
  width: 400mm;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  margin-bottom: 1rem;
  font-weight: bold;
}
