.speaker {
  display: flex;
  align-items: center;

  font-size: 4rem;
  color: #fff;

  justify-content: flex-end;
}

.photo {
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  margin-left: 4rem;
  width: 10rem;
  height: 10rem;
  content: "";
}
