.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 1920px;
  height: 1080px;
  color: #fff;

  background-size: contain;
}

.info-youtube {
  margin: 50px;
}

h1 {
  font-size: 5rem;
  text-align: right;
  max-width: calc(1920px / 1.2);
  margin: 2rem 2rem 6rem 2rem;
  color: #fff;
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.speakers > * {
  margin-bottom: 2rem;
}

.speakers > *:last-child {
  margin-bottom: 0;
}

.youtube1 {
  background: url("../assets/youtube1.jpg") no-repeat;
}

.youtube2 {
  background: url("../assets/youtube2.jpg") no-repeat;
}

.youtube3 {
  background: url("../assets/youtube3.jpg") no-repeat;
}

.youtube4 {
  background: url("../assets/youtube4.jpg") no-repeat;
}

.youtube5 {
  background: url("../assets/youtube5.jpg") no-repeat;
}
