.thumbnail-youtube {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1920px;
  height: 1080px;
  aspect-ratio: 16 / 9;
  color: #000;
  background-size: contain;
}

.thumbnail-youtube-1 {
  background: url("../assets/youtube_1.jpg") no-repeat;
}
.thumbnail-youtube-2 {
  background: url("../assets/youtube_2.jpg") no-repeat;
}
.thumbnail-youtube-3 {
  background: url("../assets/youtube_3.jpg") no-repeat;
}

h1 {
  font-size: 6rem;
  color: #000;
  text-align: center;
  margin-left: 16rem;
  margin-right: 16rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.speakers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem 4rem;
}
