@font-face {
  font-family: "Modesto";
  src: url("fonts/ModestoCondensedLight.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Modesto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
